@media screen and (max-width: 480px) {
    /* Styles pour les mobiles */
    header a {
        display: block;
        margin: 10px;
    }
    nav{
        display: none;
    }
    main{
        margin-left: 0;
        display: flex;
        flex-direction: column-reverse;
    }
    main div{
        margin-bottom: 10px;
    }
    main .videos-lecture{
        padding: 0;
    }
    footer {
        margin-left: 0;
    }
    
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    /* Styles pour les tablettes */
    header a {
        display: block;
        margin: 10px;
    }
    nav{
        display: none;
    }
    main{
        margin-left: 0;
        display: flex;
        flex-direction: column-reverse;
    }
    main div{
        margin-bottom: 10px;
    }
    main .videos-lecture{
        padding: 0;
    }
    footer {
        margin-left: 0;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {

    /* Styles pour les ordinateurs portables */

} 